 
 .mine-menu{

 	background-color: #313030;
 	height: 90px;
 }


 .mine-menu ul {
 	
 }


.mine-menu li {
	display: inline-block;
	line-height: 90px;
}
.mine-menu a{
	color: white;
	text-decoration: none;

}
.mine-menu  a:hover {
	color: white;
	background: red;

	}

.thumbnail:hover {
background-color: red;
opacity: 0.8;
height: 90px;
}
.title{

	font-size: 
}
.title strong{
	font-family:;
	font-size: 60px;
	line-height: 72px;
}
.title p {
	font-family: Myriad Pro;
	font-size: 16px;
	line-height: 72px;
	}