body{
    margin: 0%;
    padding: 0%;
    
}

.continer{
    box-sizing: border-box;
    max-width: 100%;
    max-width: 1024px;
    min-width: 280px;
    margin: 0 auto;
    
}



@media screen and (max-width:1023px){
    .container{
        max-width: 768px;
    }

}


@media screen and (max-width: 1000px) {
    .container{
        max-width: 720px;
}

}



@font-face {
    font-family: CherrySwash-Regular;
    src: url(fonts/CherrySwash-Regular.ttf);
}

@font-face {
    font-family: HelveticaBold;
    src: url(fonts/HelveticaBold.ttf);
}

@font-face {
    font-family: HelveticaLight;
    src: url(fonts/HelveticaLight.ttf);
}

@font-face {
    font-family: HelveticaRegular;
    src: url(fonts/HelveticaRegular.ttf);
}


.nav::before{
    content: '';
    display: block;
    width: 100%;
    height: 90px;
    background-color: #4c97a3;
    position: absolute;
    left: 0%;
    top: 0%;
    z-index: -1;
   
}
.nav{
    width: 100%;
}
.nav__title{
    display: inline-block;
    
}

.nav__title h1{
    margin: 0%;
    font-family: CherrySwash-Regular;
    font-weight: 400;
    font-size: 40px;
    line-height: 90px;
    color: white;
    z-index: 6;
}

.nav__menu{
    max-width: 50%;
    float: right;
}
.nav__menu ul{
    padding: 0%;
    margin: 0%;
    
}
.nav__menu ul li{
    list-style-type: none;
    display: inline;
    white-space: pre-wrap;
    color: #dce3e4;
    font-size: 18px;
}
.nav__menu ul li a{
    height: 90px;
    line-height: 90px;
    text-decoration: none;
    font-family: HelveticaRegular;
    font-size: 18px;
    padding-left: 16px;
    color: #dce3e4;
    
}
.nav__menu ul li a:hover{
    color: #ffffff;
    transform: scale(2.0);
    transition-duration: .10s;
}

/*                               BUREGER MENU                              */

.burger-menu{
    display: none;
}
    @media (max-width: 940px){

        .nav__menu{
            display: none;
        }
        

        .burger-menu{
            display: flex;
        }

.menu-btn{
    display: flex;
    align-items: center;
    position: absolute;
    top: 30px;
    right: 30px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 3;
  }
   
  .menu-btn > span,
  .menu-btn > span::before,
  .menu-btn > span::after {
    display: block;
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: white;
    transition-duration: .25s;
  }
  .menu-btn > span::before {
    content: '';
    top: -8px;
  }
  .menu-btn > span::after {
    content: '';
    top: 8px;
  }
   
  .menubox{
    display: block;
    position: absolute;
    z-index: 2;
    visibility: hidden;
    top: -100%;
    right: 0;
    width: 200px;
    height: 300px;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #4c97a3;
    transition-duration: .25s;
    
  }
   
  .menu-item {
    display: block;
    padding: 20px 0px;
    color: #dce3e4;
    font-family: HelveticaRegular;
    font-size: 18px;
    text-align: center;
    font-weight: 300;
    text-decoration: none;
    transition-duration: .10s;
  }
  .menu-item:hover {
    color: white;
    transform: scale(1.1);
  }
   
   
  #menu-toggle{
    display: none;
  }
   
  #menu-toggle:checked ~ .menu-btn > span{
    transform: rotate(45deg);
  }
  #menu-toggle:checked ~ .menu-btn > span::before{
    top: 0;
    transform: rotate(0);
  }
  #menu-toggle:checked ~ .menu-btn > span::after{
    top: 0;
    transform: rotate(90deg);
  }
  #menu-toggle:checked ~ .menubox{
    visibility: visible;
    top: 0;
    
  }
    }
/*SLIDER*/

.radio{
    display: none;
}

.carousel-wrapper{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.img{
    width: 300%;
    height: 100%;
    display: flex;
transition: all .7s ease;

}

.bg-img{
    width: 33.33333333%;

}

.s1{

    background-image: url(img/les_derevia_ozero_221718_1920x1080.jpg);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 600px;
}


.s2{

    background-image: url(img/hudozhnik_volny_krasochnyj_129158_1920x1080.jpg);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 600px;
}
.s3{

    background-image: url(img/les_derevia_ozero_222650_1920x1080.jpg);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 600px;

}
                                 /* текст на картинке и кнопка розмищение и оформление */
.s1 p{
    text-align: center;
    margin-top: 160px;
    font-size: 44px;
    font-family: HelveticaBold;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
}
.s2 p{
    text-align: center;
    margin-top: 160px;
    font-size: 44px;
    font-family: HelveticaBold;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
}
.s3 p{
    text-align: center;
    margin-top: 160px;
    font-size: 44px;
    font-family: HelveticaBold;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
}

.s1 button{
    width: 230px;
    height: 45px;
    border: 3px solid white;
    border-radius: 5px;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 40px;
    background-color: transparent;
    color: white;
    font-size: 30px;
    font-family: HelveticaLight;
    cursor: pointer;

}
.s2 button{
    width: 230px;
    height: 45px;
    border: 3px solid white;
    border-radius: 5px;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 40px;
    background-color: transparent;
    color: white;
    font-size: 30px;
    font-family: HelveticaLight;
    cursor: pointer;
    
}
.s3 button{
    width: 230px;
    height: 45px;
    border: 3px solid white;
    border-radius: 5px;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 40px;
    background-color: transparent;
    color: white;
    font-size: 30px;
    font-family: HelveticaLight;
    cursor: pointer;    
    
}

.label{
    position: absolute;  
    z-index: 2;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
    height: 20px;
    padding: 10px 0;
}

.carousel-label{
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: white;
    margin: 10px;
    cursor: pointer;
    float: left;
    text-align: center;   
}

.carousel-label:hover{
    opacity: 0.2;
    transform: scale(0.9);
    transition: all .2s ease;
}

#r1:checked ~ .img {
    margin-left: 0%;
}



#r2:checked ~ .img {
    margin-left: -100%;
    
}



#r3:checked ~ .img {
    margin-left: -200%;
    
}
.center-text{
    text-align: center;
    width: 100%;
    margin: 0 auto;
}
.text__title{
    text-align: center;
}

.title-h2 h2{
    font-family: HelveticaLight;
    font-size: 30px;
    line-height: 50px;
    font-weight: 300;
    color: #4c505d;

    margin-top: 88px;
    margin-bottom: 40px;
}

.title-h2 span{
    font-weight: 900;
    color: #4c505d;
}

.text-lorem p{
    font-size: 14px;
    line-height: 22px;
    font-family: HelveticaRegular;
    margin: 0%;
    font-weight: 600;
    color: #4c505d;
}

.icon-img{
    text-align: center;
    
}

.icon-img img{
    margin: 70px 100px 78px 100px;
    cursor: pointer;
}

.color-abaut::before{
    content: "..";
    background-color: #00d089;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 1280px;
    height: 100%;
    min-height: 470px;
    z-index: -2;
    margin: 0;
}

.blok-img{
    padding-top: 93px;
    
    text-align: center;
    

}
.photo{
    display: inline-block;
    
    
}
.point-text{
    display: inline-block;
    padding-left: 35px;
}

.point-text p{
    margin: 0;
    text-align: left;
    font-size: 26px;
    line-height: 58px;
    font-family: HelveticaBold;
    text-transform: uppercase;
    color: #e4e4e4;
}



.abaut-text{
    text-align: center;
    font-size: 18px;
    line-height: 32px;
    font-family: HelveticaLight;
    color: white;
    padding: 50px 0 42px 0;
    margin: 0;
}

.map::before{
    content: "";
    background-image: url(img/Layer\ 4.png);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    left: 0;
    width: 100%;
    height: 515px;
    z-index: -2;
}

.form{
    text-align: center;
    background-image: url(img/Ellipse\ 2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 50px;
    width: 100%;
    height: 500px;
    display: block;
}

.type-form input{
    width: 260px;
    height: 30px;
    margin-bottom: 15px;
    font-size: 14px;
    font-family: HelveticaLight;
    padding-left: 15px;
}

.type-form textarea{
    resize: none;
    width: 260px;
    height: 70px;
    font-size: 14px;
    font-family: HelveticaLight;
    color: black;
    padding-left: 15px;
    padding-top: 10px;
}

.button-form{
    margin-top: 32px;
    z-index: 2;
}

.f1{
    margin-top: 160px;
}
.f2{
    
}

.footer-text p{
    font-size: 14px;
    font-family: HelveticaBold;
    color: white;
    font-weight: 200;
    text-align: center;
    min-height: 40px;
    line-height: 40px;
    
}

.footer-text::before{
    content: '';
    background-color: #00d089;
    background-position: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 1280px;
    min-height: 40px;
    z-index: -1;
}
